dconf/
evolution/
gnome-boxes/
goa-1.0/
libreoffice/
libvirt/
pulse/
yelp/
rofi-menus/
autostart/
ibus/
enchant/
mozilla/
org.gnome.Ptyxis/
nwg-panel/
simple-scan/

nautilus/
gtk-3.0/
gtk-4.0/
sioyek/*.db
connections.db

gnome-initial-setup-done
.gsd-keyboard.settings-ported

nvim/nvim-pack-lock.json
nvim/LICENSE
nvim/EXTRA.md
nvim/README.md
nvim/linux-startuptime.log
nvim/startup.log.log

*.log
*.log.*
*.cache
.cache/
