.DS_Store
Thumbs.db
desktop.ini

.vscode/*
!.vscode/settings.json
!.vscode/keybindings.json
!.vscode/extensions.json

.idea/
*.swp
*.swo
*~

.bash_history
.zsh_history
.powershell_history

.nvm/
.npm/
.cache/
.local/share/nvim/
.local/state/nvim/
nvim/plugin/
nvim/packer_compiled.lua
nvim/lazy-lock.json

*.un~
*.swp
*.bak

**/zoxide/db.zo
.fzf.bash
.fzf.zsh
.rgignore
yazi/state/
yazi/.dds
bat/cache/
bat/themes/build/

*.log
logs/
screenshots/
*.png
*.jpg
*.jpeg
*.gif

*.zip
*.tar
*.gz
*.rar
*.7z
*.exe
*.dll
.env
.env.*
*.secret
*.key
**/.git
**/.gitmodules
