# Vim-style half-page scrolling
goto_beginning go
goto_toc gO
screen_down <C-d>
screen_up <C-u>

# toggle_titlebar <C-w>
prev_state <C-o>
next_state <C-i>
zoom_in J
zoom_out K


# Toggle dark mode with 'i' (for "invert")
toggle_dark_mode i
toggle_custom_color c
reload_config r
helper_window
toggle_fullscreen <A-return>

# fit_to_page_width s
