* {

    /* Base */
    background:                 rgba(20,20,21,0.80);
    background-alt:             rgba(37,37,48,0.80);
    foreground:                 #CDCDCD;
    foreground-alt:             #878787;

    /* ANSI palette */
    black:                      rgba(20,20,21,0.85);
    black-bright:               #606079;

    red:                        #D8647E;
    green:                      #7FA563;
    yellow:                     #F3BE7C;
    blue:                       #6E94B2;
    magenta:                    #BB9DBD;
    cyan:                       #AEAED1;
    white:                      #CDCDCD;

    /* Text aliases */
    text:                       #CDCDCD;
    text-alt:                   #878787;

    /* UI */
    hover:                      rgba(216,100,126,0.18);
    selected:                   rgba(37,37,48,0.90);

    notification-bg:            rgba(20,20,21,0.85);
    center-bg:                  rgba(20,20,21,0.85);
    center-notification-bg:     rgba(37,37,48,0.85);

    /* Status */
    urgent:                     rgba(216,100,126,0.85);
    success:                    rgba(127,165,99,0.85);
    warning:                    rgba(243,190,124,0.85);
    error:                      rgba(216,100,126,0.85);
    info:                       rgba(110,148,178,0.85);

    /* Borders */
    border:                     rgba(96,96,121,0.55);
    divider:                    rgba(96,96,121,0.85);

    /* Misc */
    inactive:                   rgba(96,96,121,0.85);
}
