* {

    /* Base */
    background:                 #141415D9;
    background-alt:             #252530D9;
    foreground:                 #CDCDCDD9;
    foreground-alt:             #878787D9;

    /* ANSI palette */
    black:                      #252530D9;
    black-bright:               #606079D9;

    red:                        #D8647EFF;
    green:                      #7FA563D9;
    yellow:                     #F3BE7CD9;
    blue:                       #6E94B2D9;
    magenta:                    #BB9DBDD9;
    cyan:                       #AEAED1D9;
    white:                      #CDCDCDD9;

    /* Text aliases */
    text:                       #CDCDCDD9;
    text-alt:                   #878787D9;

    /* UI */
    hover:                      #2D9F3AD9;  /* opaque hover */
    selected:                   #252530E6;

    notification-bg:            #141415D9;
    center-bg:                  #141415D9;
    center-notification-bg:     #252530D9;

    /* Status */
    urgent:                     #D8647ED9;
    success:                    #7FA563D9;
    warning:                    #F3BE7CD9;
    error:                      #D8647ED9;
    info:                       #6E94B2D9;

    /* Borders */
    border:                     #606079E6;
    divider:                    #606079D9;

    /* Misc */
    inactive:                   #606079D9;
}
